@charset "utf-8";
.profileHeader {
	height: 74px;
	width: 1000px;
}
body p {
	background-color: #FFFFFF;
	text-align: center;
}
.socialNetworkNavBar {
}
.mainContent .section2 {
	background-color: #FFFFFF;
}
.section2 .section2Content .sectionContent {
	color: rgba(0,0,0,1);
	font-size: 16px;
	text-align: left;
}
.section2 .section2Content .sectionContentTitle {
}
